body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

main   
 {
    text-align: center;
}

.perfil {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}